.employees{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 375px));
  margin: auto;
  justify-content: space-evenly;
  gap: 25px;
}

.employee{
  background-color: white;
  color: black;
  padding: 1rem;
  text-align: center;
  border-radius: 15px;
}

.employee-box{
  width: 60%;
  margin: auto;
}

.emp-img, .emp-img-adder{
  max-width: 150px;
  max-height: 150px;


}

.emp-img-container{
  width: 100px;
  height: 100px;
}

.emp-img-adder{
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;

  overflow: hidden;
  border-radius: 80%;
}

.emp-img-div{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.emp-btns{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emp-btn{
  padding: 0.5rem 0;

}

#wave{
  transform:rotate(0deg);
  transition: 0.3s;
  vertical-align: top;
}

.path{
  transform:translate(0, 0px);
  opacity:1;
}

.employee-expander{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 450px;
  margin: auto;

}

.employee-adder{
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.employee-adder-upper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.emp-info-inputs{
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.employee-adder-lower{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.emp-input{
  background-color: #D9D9D9;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.url-input{
  width: 100px;
}

.input-box{
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.emp-adder-img-div{
  text-align: center;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input{
  width: 0;
  height: 0;
}

.add-emp-btn, .submit-btn{
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
}

.upload-btn{
  padding: 0.5rem;
  text-align: center;
  width: 100px;
}

.employee-submit{
  width: 100%;
}

.submit-btn{
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 20px;
}




@media screen and (max-width: 700px){

  .emp-img{
    max-width: 100px;
    border-radius: 20%;
  }

  .employee-expander{
    width: 85%;

  }

  .employees{
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  }

  .employee-box{
    width: 80%;
  }


}
