.navbar{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

a, a:hover{
  text-decoration: none;
  color: white;
}

.logo-nav{
  max-width: 200px !important;
  object-fit: contain;
}

.links{
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}
