.signin-container {
    background-color: #ffce6466;
    background-image: url('../assets/appt4.png');
    height: 100vh;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    
   
}

.signin-container .form-list {
    width: 500px;
    margin: auto;
    background-color: #ffffff80;
    border: 2px solid #ffce6466;
    border-radius: 4rem;
    padding: 20px 20px;
    box-shadow: 2px 2px 10px #a5a5a533;
}


.form-list > div {
    margin: 1rem;
}
