.form-container {
    display: block;
    text-align: left;
    margin: 1.5rem;
}
.form-label {
    font-weight: bold;
}
.form-input {
    display: block;
    width: 100%;
    height: 2rem;
    margin-top: 0.5rem;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 1.25rem;
}