h4, p{
  margin: 0;
}

.appointment-container{
  display: flex;
  justify-content: center;
  margin: 0 4rem;
  padding-bottom: 2rem;
}

.appointment-info{
  flex-basis: 50%;
  padding: 2rem 2rem;
  box-sizing: border-box;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  flex-grow: 5;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.appointment-contact{
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

}

.info-title{
  font-size: 1.8rem;
  border-bottom: solid 2px;
}

.info-box-title{
  font-size: 1.4rem;
}

.info-box, .cancel-box{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.cancel-box{
  flex-direction: column;
  gap: 5px;
  padding-top: 2rem;
}

.cancel-btn{
  padding: 0.8rem;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.cancel-container{
  margin: auto;
  padding: 2rem;
  border-radius: 25px;
  width: 30%;
  min-width: min(400px, 250px);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancel-heading, .cancel-contact, .cancel-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  gap: 10px;
  padding: 1rem 0;
  border-bottom: solid 3px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.cancel-heading h4{
  font-size: 2rem;
}

.cancel-contact textarea{
  background-color: #D9D9D9;
  border-radius: 15px;
  padding: 0.8rem;
  box-sizing: border-box;
  width: 100%;
}

.cancel-buttons{
  border-bottom: unset;
}






@media screen and (max-width: 900px){
  .appointment-container{
    margin: 0 1rem;
  }
}

@media screen and (max-width: 700px){
  .appointment-container{
    flex-direction: column;
    margin: 0;
  }

  .appointment-info{
    border-top-right-radius: 20px;
    border-bottom-left-radius: unset;
  }

  .appointment-contact{
    border-radius: unset;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .appointment-contact .info-box{
    flex-direction: column;
    align-items: flex-start;
  }
}
